html{
     background-image: url("background-image_blur.jpg");
}

#box1  {
    background-color: #f3843E;
    width: 40%;
    margin-left: 550px;
    margin-right: 120px;
}

nav{
    background-color:rgba(135, 135, 135, 0.28);
    width: 40%;
    margin-left: 550px;
    margin-right: 120px;
    
}

#navlist a{
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
}
body {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    margin: 0px;
    text-align: center;
}

h3, h2, p {
    color: #f3843E;
}
ul {
  display: flex;
  justify-content: center;
}
li  {
    text-align: center;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 12px;
}
form  {
    text-align: center;
    justify-content: center;
    
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 40%;
}
#myBox  {
    background-color:rgba(135, 135, 135, 0.28);
    margin-left: 120px;
    margin-right: 120px;
    box-shadow: 10px 10px 10px #f3843E;
}
.error-message {
    color: red;
    visibility: hidden;
}

#resultsTable{
	/* text-align: center; */


}

#resultsTable table{
	text-align: center;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#resultsTable table, th{
	padding: 15px;
}

#resultsTable a{
	color: #f3843E;
	text-decoration: none;
}

#parkSpecs{
	width: 800px;
	margin: auto;
	text-align: left;
}



